<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<body>
<h4>登录页面</h4>

<div>
    <form th:action="@{/interceptor/login}" method="post">
        <table style="margin: auto">
            <tr>
                <td th:if="${not #strings.isEmpty(msg)}" colspan="2" align="center">
                    <p style="color:red; margin: auto" th:text="${msg}"></p>
                </td>
            </tr>
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="username" required></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" value="登 录"></td>
            </tr>
        </table>

    </form>
</div>

<div>
    model:<h3 th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></h3>
    request:<h3 th:text="${requestScope}"></h3>
    session:<h3 th:text="${session.sessionScope}"></h3>
    map获取数据:<h3 th:text="${key1}"></h3><h3 th:text="${key2}"></h3><h3 th:text="${3}"></h3>
    ModelMap获取整体数据:<h3 th:text="${food}"></h3>
    ModelMap遍历数据:
    <table>
        <tr th:each="f:${food}">
            <td th:text="${f.key}"></td>
            <td th:text="${f.value}"></td>
        </tr>
    </table>
    转发地址前的数据:<h3 th:text="${message}"></h3>
</div>
</body>

</html>